body{
    background-image: linear-gradient(140deg, red, blue);
    height: 100vh;
    background-repeat: no-repeat;
}
.calculat {
    padding: 10px;
    border-radius: 1em;
    height: 450px;
    width: 350px;
    margin: auto;
    background-color: rgba(67, 154, 149, 0.295);
    box-shadow: rgba(0, 0, 0, 0.19) 0 20px 10px, rgba(0, 0, 0, 0.23) 0 10px 20px;
    margin-top: 120px;
}

.view {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    height: 50px;
}
#clear{
    background-color: #ff0404f3;
    /* color: black; */
    border: none;
    outline:  none;
    height: 40px;
    font-weight: bolder;
}
input[type=button] {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    outline: none;
}
#success {
    background-color: #4cb80eec;
    border: none;
    outline:  none;
    font-weight: bolder;
    height: 40px;
    margin-bottom: -60px;

}
.cls{
    width: 100%;
    border: 2px solid gold;
}